/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.certs
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public
prod.*
*.sh
!/scripts/*.sh
~*.docx
