body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: $text-color;
}

#navbarTop {
  background-color: $color-primary;

  button.btn-link, a {
    color: transparentize($color-white,0.25);

    &.navbar-brand {
      color: $color-white;
    }
    &.dropdown-item {
      color: $text-color;
    }
  }
}