@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";
@import "./font-loading.css";
@import "./scrollbars.css";
@import "./theme.css";

/* Blog */
.blog {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }

    .blog__body {
        .embedded_image {
            @apply my-2;
            p {
                @apply text-sm text-center mb-4;
            }
        }
        blockquote {
            /* border-left: 3px solid var(--color-secondary); */
            /* padding-left: 1rem; */
            width: 80%;
            margin: 2rem auto;
            font-size: 1.2rem;
            font-family: var(--font-serif);
            font-style: italic;
            color: var(--color-dark);
        }
        p {
            @apply my-4;
        }
    }
}
